body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    padding: 30px;
    transition: all 0.4s ease;
}

.dark-mode {
    background-color: #222;
    color: white;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}